 <!DOCTYPE html>
<html>
{% load staticfiles %}
	<head>
		<title>Books</title>
		  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		  <link rel="stylesheet" href="{% static 'css/bookflood.css' %}">
	</head>
	<body>
		<div>
			<h3><a href="{% url 'home' %}">Home</a></h3>
			<h3><a href="{% url 'books' %}">All Books</a></h3>	
		</div>
		{% block content %} 
		{% endblock %}
	</body>
</html>