<!DOCTYPE html>
<html>
{% load staticfiles %}
	<head>
		<title>User Profile</title>
		  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		  <link rel="stylesheet" href="{% static 'css/bookflood.css' %}">
	</head>
	<body>
		<div>
			<h1><a href="">This is an information page about a person.</a></h1>
			<h3><a href="{% url 'home' %}">Home</a></h3>	
		</div>
			
		{% for p in person %}
			<div>
				{{ p }}
			</div>
		{% endfor %}
	</body>
</html>
